h1,p,h2{
  font-family: 'Ranga', cursive;
}

.featured {
  float: left;
}

.featured h1 {
  color: #BCBBBB;
}

.logo img {
  float: left;
  width: 13rem;
  height: 40%;
  margin-left: 6%;
}

.about h2,p {
  margin-right: 6%;
}

.about h2 {
  float: right;
}

.about p {
  float: right;
  clear: both;
}

header {
  border-bottom: 2px solid #BCBBBB;
  margin-bottom: 5%;
}

.showcase {
  text-align: center;
  padding-bottom: 5%;
}
